<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
</head>
<body class="swagger-section">
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
<style>
    html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        background: #fafafa;
    }
    {{ SWAGGER-CSS }}
</style>
<script type="text/javascript">
    {{ SWAGGER-UI-BUNDLE }}
    {{ SWAGGER-UI-STANDALONE-PRESET }}
    window.SWAGGER_CONFIG_URL = "##SWAGGER_CONFIG##";
    (function () {
        window.onload = function () {
            window.ui = new SwaggerUIBundle({
                spec: {{ SWAGGER_SCHEMA }},
                dom_id: "#swagger-ui-container",
                deepLinking: true,
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                plugins: [
                    SwaggerUIBundle.plugins.DownloadUrl
                ],
                layout: "StandaloneLayout",
                // 按 get, post, put, delete 排序
                operationsSorter: function (a, b) {
                    let order = {'get': '0', 'post': '1', 'put': '2', 'delete': '3'};
                    return order[a._root.entries[1][1]].localeCompare(order[b._root.entries[1][1]]);
                },
                // 按tag排序
                tagsSorter: function (a, b) {
                    if (a > b){
                        return 0;
                    } else {
                        return -1;
                    }
                },
                validatorUrl: "https://validator.swagger.io/validator",
            });
        };
    })();
</script>
</body>
</html>
